{% extends 'base/base.html' %}
{% load static %}
{% load embed_video_tags %}
{% load i18n %}

{% block title %}
  {% trans 'Historia' %}
{% endblock %}


{% block content %}
<main class="container">
  <h1 class="titulo-principal">{% trans 'Historia' %}</h1>
  <div class="row">
    <div class="video-column">
      <div class="video-historia">
        {% video post.video as my_video %} 
            <iframe src="{{ my_video.url }}" frameborder="0" allowfullscreen></iframe> 
        {% endvideo %} 
      </div>
    </div>
    <div class="text-column text-content" > 
      <h1 >{{ post.title }}</h1>
      <p class="historia-contenido">{{ post.content }}</p>
      <p class="post-date">{{ post.data }}</p>
      <p class="category-list">
        <span class="category-links">
            {% for category in post.category.all %}
                <a href="{% url 'category' category.id %}" class="category-link">
                    {{ category.name }}
                </a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </span>
    </p>
      <div class="social-share">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://x.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ post.title }}" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a href="https://www.instagram.com/?url={{ request.build_absolute_uri }}" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://wa.me/?text={{ request.build_absolute_uri }}" target="_blank">
          <i class="fab fa-whatsapp"></i>
        </a>
      </div> 
    </div>
  </div>
</main>

{% endblock %}

