{% extends 'base/base.html' %}
{% load static %}
{% load embed_video_tags %}
{% load i18n %}

{% block title %}
  {% trans 'Video' %}
{% endblock %}

{% block content %}
<main class="container">
  <h1 class="titulo-principal">{% trans 'Video' %}</h1>
  <section class="row">
    <div class="col-xl-12">
      <div class="row align-items-center">
        <div class="col-xl-6">
          <div class="video-historia">
              <iframe src="{{ my_video.url }}" frameborder="0" allowfullscreen></iframe> 
          </div>
        </div>
        <div class="col-xl-6">
          <div class="texto">
            <h1>{{ post.title }}</h1>
            <p>{{ post.content|linebreaks }}</p>
            <p class="titulo-post">{{ post.data }}</p>
            <!-- Social Share Buttons -->
            <div class="social-share">
              <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
                <i class="fa-brands fa-facebook"></i>
              </a>
              <a href="https://x.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ post.title }}" target="_blank">
                <i class="fa-brands fa-x-twitter"></i>
              </a>
              <a href="https://www.instagram.com/?url={{ request.build_absolute_uri }}" target="_blank">
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a href="https://wa.me/?text={{ request.build_absolute_uri }}" target="_blank">
                <i class="fa-brands fa-whatsapp"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
