/* Historia */
/* .contenedor h1 {
    margin-bottom: 40px; 
} */
.video-historia {
    position: relative;
    overflow: hidden;
    z-index: 0;
    padding-top: 56.25%; /* Proporción 16:9 (altura:ancho) */
    margin-right: 10px;
}

.video-historia iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* .titulo-post {
    font-weight: 700;
    
} */
/* .texto p {
    font-size: 16px;
    margin-bottom: 20px;
    
} */
.texto {
    margin-left: 10px;
}
/* .texto h1 {
    text-decoration: underline;
} */
.autor {
    text-align: center;
    margin-bottom: 20px; /* Centrar el contenido */
}
/* Quitar subrayado predeterminado */
/* Color del texto del enlace */
/* Espacio entre enlaces */
/* .autor a {
    color: #595959; 
    text-decoration: none; 
    margin: 0 5px;
    font-weight: normal; 
} */
/* .texto span {
    font-weight: bold;
} */

/* Subrayado al pasar el ratón sobre el enlace */
/* .autor a:hover {
    text-decoration: underline; 
    color: black;
} */
.title-stories {
    margin-bottom: 50px;
}

/* Estilos adicionales para el contenedor del video en diferentes tamaños de pantalla */
@media (max-width: 1200px) {
    .col-xl-10 {
      padding: 0 15px; /* Ajusta el padding para pantallas más pequeñas */
    }
}

@media (max-width: 768px) {
    .col-xl-6 {
      padding: 0 15px; /* Ajusta el padding para pantallas pequeñas */
    }
}

  /* Estilos CSS personalizados */

.category-nav-historias {
    background-color: #ffffff; /* Color de fondo */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 20px; /* Margen inferior */
    text-align: center; /* Alineación del texto */
}

.category-nav-historias .link-historias {
    text-decoration: none; /* Sin subrayado en los enlaces */
    color: #000000; /* Color del texto */
    padding: 8px 12px; /* Espaciado interno */
    margin: 0 5px; /* Margen entre enlaces */
    border-radius: 4px; /* Bordes redondeados */
    font-weight: 200 ;
    
    transition: background-color 0.3s ease; /* Transición suave */
}

.category-nav-historias .link-historias:hover {
    background-color: #888888; /* Color de fondo al pasar el mouse */
    color: #fff; /* Color del texto al pasar el mouse */
}

.category-nav-historias .separator {
    color: #999; /* Color del separador */
}



@media (max-width: 1000px) {
    .category-nav-historias {
        padding: 7px;
    }
    
    .category-nav-historias .link-historias {
        padding: 6px 1px;
        margin: 1px;
    }
}